# Market Basket Analysis

<img src = "img/basket.jpg" height="300" width="300">


Affinity analysis is a data analysis and data mining technique that discovers co-occurrence relationships among activities performed by (or recorded about) specific individuals or groups. In general, this can be applied to any process where agents can be uniquely identified and information about their activities can be recorded. In retail, affinity analysis is used to perform market basket analysis, in which retailers seek to understand the purchase behavior of customers. This information can then be used for purposes of cross-selling and up-selling, in addition to influencing sales promotions, loyalty programs, store design, and discount plans

**Example** 

1. Market basket analysis might tell a retailer that customers often purchase shampoo and conditioner together, so putting both items on promotion at the same time would not create a significant increase in revenue, while a promotion involving just one of the items would likely drive sales of the other.

2.  one super market chain discovered in its analysis that male customers that bought diapers often bought beer as well, have put the diapers close to beer coolers, and their sales increased dramatically

*src*: https://en.wikipedia.org/wiki/Affinity_analysis

In [1]:
import pandas as pd

Let's load the user-comment data.

In [2]:
user_stories = pd.read_csv("data/story_user_comment.csv")

In [3]:
user_stories.head()

  user     story  comment
0   21  14356377        1
1   21  15131370        1
2   21  15196309        1
3   47  15601729        1
4   47  14023198        1

In [4]:
user_stories.shape

(52460, 3)

In [5]:
user_stories_sorted = user_stories.sort_values("user")

In [6]:
user_stories_sorted.head()

               user     story  comment
1298           0003  14384187        1
21446      01000001  13816627        1
43320  010001001010  14238005        1
39685   01096232042  15357584        1
39684   01096232042  15357584        1

In [7]:
unique_users = pd.unique(user_stories_sorted.user)

For market basket analysis, we need the baskets. Let's create the transaction matrix of various baskets.

In [8]:
basket = []

In [15]:
for user in unique_users[:100]:
    user_data = user_stories_sorted[user_stories_sorted.user == user].copy()
    user_stories = pd.unique(user_data.story)
    user_stories = [data.tolist() for data in user_stories]
    basket.append(user_stories)

In [16]:
basket

[[14384187],
 [13816627],
 [14238005],
 [15357584],
 [13696004, 13507993, 13338592],
 [15744359],
 [14998429],
 [14446261],
 [14087381],
 [15345483, 14702676],
 [14384187],
 [13816627],
 [14238005],
 [15357584],
 [13696004, 13507993, 13338592],
 [15744359],
 [14998429],
 [14446261],
 [14087381],
 [15345483, 14702676],
 [14044517],
 [15752022, 15254952, 14039135],
 [13559662],
 [15742287],
 [15601729],
 [13361019],
 [13601451],
 [13423629],
 [14552615],
 [14308754,
  15298833,
  13713480,
  15253781,
  15316175,
  14592745,
  14529376,
  14643467],
 [15200221, 15066729],
 [15675582, 14923362],
 [14997799],
 [13642662, 13559581],
 [14068280],
 [15878197, 14136081, 15234207, 13397145, 13338592],
 [15694926],
 [14417758],
 [15820161],
 [14170041, 13823979, 13597949],
 [15131370],
 [15037960],
 [14621347],
 [15756684],
 [14952787],
 [15423202, 15309989],
 [13354329],
 [15234207, 13500346, 15127633, 13755673],
 [13489100,
  14361425,
  14101233,
  14744068,
  13881535,
  14043631,
  13867316,
  13520891,
  14213220,
  14776357],
 [15747650],
 [14923362],
 [15913250],
 [13301832],
 [13682949, 14486657],
 [15316175,
  15050841,
  14779881,
  15228712,
  15332819,
  15704376,
  15037960,
  15021427,
  15062225,
  15633785,
  15651058,
  15786802,
  14931004,
  15511285],
 [13601451],
 [15821575],
 [14960597, 13682949],
 [14435219, 13713480, 15145176, 13682949, 14170575, 13955981],
 [14108797, 13939645, 14050049, 13319904, 15694118, 13816627, 13870199],
 [14475884],
 [15089476],
 [14023198, 15148885, 14238005],
 [15669262],
 [14973506],
 [14178397],
 [15893911],
 [15046601],
 [15089476, 13858656, 15155833, 15460851, 13844389],
 [14729400],
 [14394150, 14266423],
 [14673777, 15291961, 15037960, 14051851, 14630650, 15256603, 14495405],
 [13453189],
 [14002821],
 [13552747, 14645452, 15858197, 13561388],
 [15316175],
 [14497295],
 [15502074,
  15237896,
  15368104,
  15857833,
  15480334,
  15367531,
  15694118,
  15023766],
 [15585769],
 [13769727],
 [14280569,
  14310617,
  15769807,
  14105721,
  15739744,
  15538666,
  14952787,
  14023198,
  15651510,
  14141454,
  14458955,
  14560042,
  13976938,
  14338328,
  14108797],
 [13653819, 15704730],
 [15793473],
 [14505378],
 [13629728],
 [13365430],
 [15543371, 15662004],
 [13301832],
 [14892980, 13673962],
 [14229412],
 [13755673],
 [15168467],
 [14962634],
 [13539552],
 [14245354, 14805265],
 [13537052],
 [14947361],
 [14049868,
  14552615,
  14063609,
  14039135,
  14560106,
  14108849,
  14118290,
  14790251,
  14452832,
  14537747,
  13786220],
 [14508921],
 [14477851],
 [14997941],
 [15763013],
 [13541679],
 [14291412, 14146850],
 [13417037],
 [15147660],
 [14338212],
 [13941923],
 [14196077],
 [13746830]]

In [17]:
len(basket)

110

# FP Growth

In [18]:
import pyfpgrowth

Let's create FP Tree

In [38]:
?pyfpgrowth.pyfpgrowth.FPTree

In [39]:
hn_fptree = pyfpgrowth.pyfpgrowth.FPTree(basket, 0.1, 0.1, 0.1)

In [41]:
# List frequency for various items

In [42]:
hn_fptree.frequent

Find the frequent patterns

In [19]:
patterns = pyfpgrowth.find_frequent_patterns(basket, 2)

In [44]:
patterns

Generate the association rules

In [20]:
rules = pyfpgrowth.generate_association_rules(patterns, 0.7)

In [45]:
rules